# general
NODE_ENV="development"

# database
DATABASE_URL="postgresql://postgres:password_db@5432:5432/time_management?schema=public"

# google creds
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET= 

# resend 
RESEND_API_KEY=